.container{
    max-width: 900px;
    margin: 50px auto;
}
ul li{
    margin: 20px 0;
}
.name{
    font-size: 30px;
    margin-right: 20px;
}
.delete{
    font-size: 30px;
    background-color: aquamarine;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}